@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 210 7% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 7% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 7% 15%;
    --primary: 24 9.8% 83.7%;
    --primary-foreground: 210 7% 15%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 210 7% 15%;
    --muted: 210 20% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 45 93% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 220 15% 95%;
    --sidebar-foreground: 210 7% 15%;
    --sidebar-primary: 24 9.8% 83.7%;
    --sidebar-primary-foreground: 210 7% 15%;
    --sidebar-accent: 45 93% 47%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 24.6 95% 53.1%;
  }

  .dark {
    --background: 210 20% 98%;
    --foreground: 210 7% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 7% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 7% 15%;
    --primary: 24 9.8% 83.7%;
    --primary-foreground: 210 7% 15%;
    --secondary: 210 20% 94%;
    --secondary-foreground: 210 7% 15%;
    --muted: 210 20% 94%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 45 93% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 24.6 95% 53.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 220 15% 95%;
    --sidebar-foreground: 210 7% 15%;
    --sidebar-primary: 24 9.8% 83.7%;
    --sidebar-primary-foreground: 210 7% 15%;
    --sidebar-accent: 45 93% 47%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 24.6 95% 53.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
